<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Docker Grid" parallel="tests" thread-count="2" verbose="3">
    <test name="chrometest">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="org.example.composeUpGrid"/>
        </classes>
    </test>
    <test name="firefox">
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="org.example.composeUpGrid"/>
        </classes>
    </test>
</suite>